.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 28, 47, 0.31);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
}

.modalContent {
  background: var(--color-bg-dark);
  border-radius: 10px;
  padding: 23px 18px 20px;
  min-width: 240px;
  max-width: 320px;
  box-shadow: 0 8px 26px var(--color-shadow);
  position: relative;
}
